Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

config: update consul api dependency
  config/go.mod
  config/go.sum
Due: Config

metrics: update indirect go dependencies
  metrics/go.mod
  metrics/go.sum
Due: Metrics

middleware/accesslog: update go module dependencies
  middleware/accesslog/example/go.mod
  middleware/accesslog/example/go.sum
  middleware/accesslog/go.mod
  middleware/accesslog/go.sum
Due: none

middleware/basicauth: update go module dependencies and tidy
  middleware/basicauth/example/go.mod
  middleware/basicauth/example/go.sum
  middleware/basicauth/go.mod
  middleware/basicauth/go.sum
Due: none

middleware/bodylimit: update go deps and remove unused indirects
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/example/go.sum
  middleware/bodylimit/go.mod
  middleware/bodylimit/go.sum
Due: none

middleware/compression: update go deps and remove unused indirects
  middleware/compression/example/go.mod
  middleware/compression/example/go.sum
  middleware/compression/go.mod
  middleware/compression/go.sum
Due: none

middleware/cors: update go module deps and remove unused indirects
  middleware/cors/example/go.mod
  middleware/cors/example/go.sum
  middleware/cors/go.mod
  middleware/cors/go.sum
Due: none

middleware/methodoverride: update go deps and remove unused indirects
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/example/go.sum
  middleware/methodoverride/go.mod
  middleware/methodoverride/go.sum
Due: none

middleware/ratelimit: tidy go.mod and remove unused indirect deps
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/example/go.sum
  middleware/ratelimit/go.mod
  middleware/ratelimit/go.sum
Due: none

middleware/recovery: update deps and use trace.SpanFromContext
  middleware/recovery/example/go.mod
  middleware/recovery/example/go.sum
  middleware/recovery/go.mod
  middleware/recovery/go.sum
  middleware/recovery/recovery.go
Due: none

middleware/requestid: update go dependencies and tidy modules
  middleware/requestid/example/go.mod
  middleware/requestid/example/go.sum
  middleware/requestid/go.mod
  middleware/requestid/go.sum
Due: none

middleware/security: update go deps and remove unused indirects
  middleware/security/example/go.mod
  middleware/security/example/go.sum
  middleware/security/go.mod
  middleware/security/go.sum
Due: none

middleware/timeout: tidy go modules and update indirect dependencies
  middleware/timeout/example/go.mod
  middleware/timeout/example/go.sum
  middleware/timeout/go.mod
  middleware/timeout/go.sum
Due: none

middleware/trailingslash: tidy go mod and remove unused indirect deps
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/example/go.sum
  middleware/trailingslash/go.mod
  middleware/trailingslash/go.sum
Due: none

router: remove built-in tracing and metrics from context
  router/README.md
  router/benchmarks/go.mod
  router/benchmarks/go.sum
  router/context.go
  router/context_test.go
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/examples/07-versioning/go.mod
  router/examples/07-versioning/go.sum
  router/go.mod
  router/go.sum
  router/interfaces.go
  router/observability_test.go
Due: Router

tracing: update indirect dependency version
  tracing/go.mod
  tracing/go.sum
Due: Tracing

router: refactor radix tree layout and route compilation defaults
  router/.gitignore
  router/compile.go
  router/examples/05-advanced-routing/main.go
  router/options.go
  router/options_test.go
  router/radix.go
  router/route_bridge.go
  router/router.go
  router/router_test.go
  router/routes.go
  router/serve.go
Due: Router

middleware: add .gitignore to exclude example files and keep relevant extensions
  middleware/.gitignore
Due: none

middleware/basicauth: bump router dependency to v0.12.0
  middleware/basicauth/example/go.mod
  middleware/basicauth/go.mod
Due: none

middleware/accesslog: bump router dependency to v0.12.0
  middleware/accesslog/example/go.mod
  middleware/accesslog/go.mod
Due: none

middleware/compression: update router dependency to v0.12.0
  middleware/compression/example/go.mod
  middleware/compression/go.mod
Due: none

middleware/bodylimit: update router dependency to v0.12.0
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/go.mod
Due: none

middleware/cors: bump router dependency to v0.12.0
  middleware/cors/example/go.mod
  middleware/cors/go.mod
Due: none

middleware/trailingslash: bump router dependency to v0.12.0
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/go.mod
Due: none

middleware/timeout: bump router dependency to v0.12.0
  middleware/timeout/example/go.mod
  middleware/timeout/go.mod
Due: none

router: update router to v0.12.0 in examples
  router/examples/03-complete-rest-api/go.mod
  router/examples/04-middleware-stack/go.mod
Due: none

middleware/recovery: bump router dependency to v0.12.0
  middleware/recovery/example/go.mod
  middleware/recovery/go.mod
Due: none

middleware/methodoverride: bump router dependency to v0.12.0
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/go.mod
Due: none

middleware/ratelimit: update router dependency to v0.12.0
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/go.mod
Due: none

middleware/security: update router dependency to v0.12.0
  middleware/security/example/go.mod
  middleware/security/go.mod
Due: none

middleware/requestid: update router dependency to v0.12.0
  middleware/requestid/example/go.mod
  middleware/requestid/go.mod
Due: none

app: update go module dependencies
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

ci: add go report card workflow
  .github/workflows/goreportcard.yml
Due: none

Simplify key access control logic in policy rules.
  internal/config/config.go
  policies/keys.rego
Due: none

app: refactor observability to use response writer wrapper
  app/observability.go
  app/observability_test.go
Due: App

middleware/accesslog: refactor to use shared response writer wrapper
  middleware/accesslog/accesslog.go
  middleware/accesslog/accesslog_test.go
Due: none

router: refactor response writer to use WrittenChecker
  router/context.go
  router/response.go
  router/responsewriter.go
  router/responsewriter_test.go
  router/router.go
Due: Router

app: return error from lifecycle hooks instead of panic
  app/app_suite_test.go
  app/doc.go
  app/errors.go
  app/example_reload_test.go
  app/example_test.go
  app/examples/02-blog/main.go
  app/lifecycle.go
  app/lifecycle_test.go
  app/reload_integration_test.go
  app/reload_test.go
Due: App

app: refactor access log to scope option (all/errors_only)
  app/app.go
  app/observability_options.go
  app/observability_test.go
  app/options.go
Due: App

app: panic on unsupported HTTP method in route registration
  app/app.go
  app/app_integration_suite_test.go
  app/app_suite_test.go
  app/group.go
  app/version_group.go
Due: App
