Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

middleware/trailingslash: update trailingslash import path to standalone module
  middleware/trailingslash/README.md
  middleware/trailingslash/doc.go
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/example/main.go
  middleware/trailingslash/go.mod
Due: none

router: bump router to v0.11.0 in example go.mods
  router/examples/03-complete-rest-api/go.mod
  router/examples/04-middleware-stack/go.mod
Due: none

nix: add middleware category to commit script
  nix/apps/commit.nix
Due: none

docs: update readme middleware links to new path
  README.md
Due: none

middleware: update readme paths and import examples
  middleware/README.md
Due: none

deps: update go.work middleware paths to top-level
  go.work
Due: none

app: move middleware imports to standalone package
  app/app.go
  app/app_test.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/examples/02-blog/main.go
  app/examples/02-blog/main_test.go
  app/go.mod
  app/go.sum
Due: App

app: format imports
  app/app.go
  app/app_test.go
  app/examples/02-blog/main.go
  app/examples/02-blog/main_test.go
Due: App

middleware/accesslog: reorder imports in examples
  middleware/accesslog/example/main.go
Due: none

middleware/basicauth: format imports in middleware example main
  middleware/basicauth/example/main.go
Due: none

middleware/bodylimit: format example imports
  middleware/bodylimit/example/main.go
Due: none

middleware/compression: format imports in examples
  middleware/compression/example/main.go
Due: none

middleware/cors: format imports in example main files
  middleware/cors/example/main.go
Due: none

middleware/methodoverride: format import order
  middleware/methodoverride/example/main.go
Due: none

middleware/ratelimit: format imports in ratelimit example
  middleware/ratelimit/example/main.go
Due: none

middleware/recovery: reorder imports in example
  middleware/recovery/example/main.go
Due: none

middleware/requestid: format imports in example mains
  middleware/requestid/example/main.go
Due: none

middleware/security: reorder imports in example
  middleware/security/example/main.go
Due: none

middleware/timeout: reorder imports
  middleware/timeout/example/main.go
Due: none

middleware/trailingslash: reorder imports in example
  middleware/trailingslash/example/main.go
Due: none

router: reorder imports in router examples
  router/examples/03-complete-rest-api/main.go
  router/examples/04-middleware-stack/main.go
Due: none

ci: bump go to 1.26 in benchmark workflow
  .github/workflows/benchmarks.yml
Due: none

flake.lock: Update
  flake.lock
Due: none

deps: bump go to 1.25.7 and reorder workspace modules
  go.work
  go.work.sum
Due: none

app: add gosec nolint and refactor error formatting
  app/banner.go
  app/errors.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
  app/server.go
Due: App

binding: add gosec nolint for credential-named test fixtures
  binding/bind_test.go
  binding/binder_test.go
  binding/msgpack/bench_test.go
  binding/testing_test.go
  binding/toml/bench_test.go
  binding/yaml/bench_test.go
Due: Binding

config: add nolint for gosec G117 in example structs, bump deps
  config/examples/comprehensive/main.go
  config/examples/environment/main.go
  config/examples/mixed/main.go
  config/go.mod
  config/go.sum
Due: Config

metrics: fix benchmark int-to-string conversion and update deps
  metrics/bench_test.go
  metrics/go.mod
  metrics/go.sum
Due: Metrics

middleware/bodylimit: fix body size string conversion in test
  middleware/bodylimit/bodylimit_test.go
Due: none

middleware/recovery: add nolint for gosec G115 on stderr fd
  middleware/recovery/recovery.go
Due: none

middleware/requestid: use strconv.Itoa for counter in requestid test
  middleware/requestid/requestid_test.go
Due: none

openapi: refactor warning string build and add nolint in tests
  openapi/diag/warning.go
  openapi/internal/schema/generator_test.go
  openapi/internal/schema/introspect_tag_test.go
  openapi/internal/schema/introspect_test.go
Due: OpenAPI

router: fix gosec linter and refactor asciijson writes
  router/alignment_test.go
  router/benchmarks/comparison_test.go
  router/context.go
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/fuzz_test.go
  router/serve.go
Due: Router

tracing: update genproto deps and add gosec nolint
  tracing/go.mod
  tracing/go.sum
  tracing/tracing_test.go
Due: Tracing

validation: add nolint for gosec G117 in test fixtures
  validation/example_test.go
  validation/options_test.go
  validation/tags_test.go
Due: Validation

router: add doc examples and clarify JSON/HTML comments
  router/context.go
Due: Router

router: update benchmark go dependencies
  router/benchmarks/go.mod
  router/benchmarks/go.sum
Due: none

router: tidy go.mod and remove unused indirect deps
  router/benchmarks/go.mod
  router/benchmarks/go.sum
Due: none

app: add app and server integration tests
  app/app_integration_suite_test.go
  app/server_integration_test.go
Due: App

app: add observability methods to app context
  app/context.go
  app/context_test.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
