Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

logging: refactor logger construction with config struct
  logging/logger.go
  logging/options.go
Due: Logging

metrics: refactor to use config struct for recorder construction
  metrics/custom_provider_test.go
  metrics/metrics.go
  metrics/options.go
Due: Metrics

router: refactor router construction to use config struct
  router/options.go
  router/proxies.go
  router/router.go
  router/versioning.go
Due: Router

tracing: refactor tracer construction to use config struct
  tracing/options.go
  tracing/tracing.go
Due: Tracing

config: refactor options to collect validation at build time
  config/config.go
  config/config_test.go
  config/doc.go
Due: Config

router: defer option validation to config validate
  router/version/config.go
  router/version/options.go
Due: Router

app: refactor error formatter to options and validate at config
  app/app.go
  app/context.go
  app/options.go
Due: App

errors: refactor formatter construction to functional options
  errors/README.md
  errors/constructor_test.go
  errors/doc.go
  errors/example_test.go
  errors/formatter.go
  errors/jsonapi.go
  errors/jsonapi_test.go
  errors/options.go
  errors/rfc9457.go
  errors/rfc9457_test.go
  errors/simple.go
  errors/simple_test.go
Due: Errors

metrics: replace event handler with slog logger
  metrics/metrics.go
  metrics/options.go
  metrics/providers.go
  metrics/recording.go
  metrics/validation_test.go
Due: Metrics

tracing: replace event handler with slog logger
  tracing/options.go
  tracing/options_test.go
  tracing/providers.go
  tracing/providers_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Due: Tracing

router: refactor server timeouts to functional options
  router/options.go
  router/options_test.go
  router/router.go
Due: Router

flake.lock: Update
  flake.lock
Due: none

app: use t.Cleanup for context cancel in test
  app/testing_test.go
Due: App

router: use utf8.DecodeRune in ASCIIJSON and add invalid UTF-8 test
  router/context.go
  router/context_render_test.go
  router/response_test.go
Due: Router

app: move openapi title injection to WithOpenAPI option
  app/app.go
  app/openapi_state.go
  app/openapi_state_test.go
  app/options.go
Due: App

openapi: refactor openapi config to use internal config struct
  openapi/config.go
  openapi/config_test.go
  openapi/doc.go
  openapi/example_test.go
  openapi/generate.go
  openapi/integration_test.go
  openapi/swagger.go
  openapi/swagger_test.go
Due: OpenAPI

app: refactor route registration into shared implementation
  app/app.go
  app/group.go
  app/version_group.go
Due: App

router: add Handle method for dynamic HTTP method routing
  router/route/group.go
  router/routes.go
Due: Router

logging: remove Validate method, validate at construction only
  logging/examples/02-production/main.go
  logging/logger.go
  logging/logging_bench_test.go
  logging/logging_test.go
Due: Logging

app: refactor to use WithoutCancellationCheck option
  app/app_test.go
  app/options.go
  app/router_options_test.go
Due: App

router: make cancellation check default, remove toggle option
  router/context_test.go
  router/integration_stress_test.go
  router/integration_test.go
  router/options.go
  router/router_test.go
Due: Router

validation: refactor interface validation to type assertion only
  validation/README.md
  validation/doc.go
  validation/interface.go
  validation/interface_strategy.go
  validation/validate.go
  validation/validator.go
Due: Validation

app: use app logger for handler and health errors
  app/context.go
  app/health_standard.go
Due: App

app: update doc comment for BindOnly and Validate
  app/app.go
Due: App

app: handle nil app in context selectFormatter
  app/context.go
  app/context_test.go
Due: App

app: return validation errors instead of panic
  app/observability_config.go
  app/observability_config_test.go
Due: App

app: remove BindPatch/BindStrict in favor of Bind options
  app/bind.go
  app/bind_test.go
  app/doc.go
  app/example_test.go
Due: App

app: add configurable validation engine for bind/validate
  app/app.go
  app/context.go
  app/context_test.go
  app/doc.go
  app/options.go
  app/testing.go
Due: App

validation: expose default engine and document lazy init
  validation/README.md
  validation/doc.go
  validation/validate.go
  validation/validate_test.go
Due: Validation

app: add validate options for partial, strict and passthrough
  app/context.go
  app/context_test.go
  app/doc.go
  app/validate_options.go
  app/validate_options_test.go
Due: App

router: add MustNew constructor and document usage
  router/version/doc.go
  router/version/engine.go
  router/version/version_test.go
Due: Router

openapi: add MustNew validator for API consistency
  openapi/generate.go
  openapi/validate/validate.go
  openapi/validate/validate_test.go
Due: OpenAPI

router: refactor version config to internal api
  router/version/config.go
  router/version/doc.go
  router/version/engine.go
  router/version/options.go
  router/version/version_test.go
  router/versioning.go
Due: Router

config: refactor: use opts for option parameters
  config/config.go
Due: Config

openapi: add options and error return to validator constructor
  openapi/integration_test.go
  openapi/validate/validate.go
  openapi/validate/validate_test.go
Due: OpenAPI

router: unexport observer type and configure via options only
  router/version/config.go
  router/version/doc.go
  router/version/options.go
Due: Router

router: refactor lifecycle config to internal option-based api
  router/version/config.go
  router/version/doc.go
  router/version/engine.go
  router/version/lifecycle.go
  router/version/version_test.go
  router/versioning.go
Due: Router

config: reject nil config options instead of skipping
  config/config.go
  config/config_test.go
  config/doc.go
Due: Config

app: add error formatter content negotiation and validation
  app/app.go
  app/options.go
  app/options_error_test.go
Due: App

openapi: add WithVersions option and ValidateAuto method
  openapi/validate/validate.go
  openapi/validate/validate_test.go
Due: OpenAPI
