Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

remove unnecessary blank lines in test files for improved readability
  app/property_test.go
  metrics/stress_test.go
  tracing/tracing_integration_test.go
  validation/integration_test.go
Due: App, Metrics, Tracing, Validation

address Go toolchain auto-switching issue in coverage test script
  nix/lib/coverage-test-script.nix
Due: none

update Go version to 1.25.5 and specify toolchain in go.work
  go.work
Due: none

enhance coverage test script to filter packages with test files only
  nix/lib/coverage-test-script.nix
Due: none

update coverage test script to include listFlags for better test file visibility
  nix/apps/testing.nix
  nix/lib/coverage-test-script.nix
Due: none

update CI workflow to disable search for coverage uploads
  .github/workflows/ci.yml
Due: none

openapi: simplify README and link to external docs
  openapi/README.md
Due: OpenAPI

logging: add docs site links and simplify READMEs
  logging/README.md
Due: Logging

metrics: simplify README with external doc links
  metrics/README.md
Due: Metrics

router: replace readme content with documentation site links
  router/README.md
  router/middleware/README.md
Due: Router

tracing: simplify README and link to external documentation
  tracing/README.md
Due: Tracing

app: simplify readme and add external documentation links
  app/README.md
Due: App

validation: simplify README and add external doc links
  validation/README.md
Due: Validation

API-1130: add missing policies relation to post endpoint
  internal/handler/v2/keys/post.go
Due: none

flake.lock: Update
  flake.lock
Due: none

update README to include new logo images and improve layout
  README.md
  docs/images/logo-alpine-dark.svg
  docs/images/logo-alpine-light.svg
  docs/images/logo-alpine.svg
Due: none

Add EventBridge publisher and Tyk webhook handling
  .envrc
  .gitignore
  .gitlab-ci.yml
  .service.yaml
  api/v2/private/openapi.yaml
  chart/values.nl.acc.yaml
  chart/values.nl.prod.yaml
  chart/values.yaml
  cmd/admin-api/main.go
  deployments/terraform/.terraform.lock.hcl
  deployments/terraform/conf/acc.tfvars
  deployments/terraform/conf/prod.tfvars
  deployments/terraform/main.tf
  deployments/terraform/meta.tf
  deployments/terraform/variable.tf
  flake.nix
  go.mod
  go.sum
  internal/config/config.go
  internal/db/action.go
  internal/db/base.go
  internal/handler/v2/keys/post.go
  internal/handler/v2/tyk/dto.go
  internal/handler/v2/tyk/handler.go
  internal/handler/v2/tyk/post.go
  internal/message/quota.go
  internal/tyk/hash.go
  magefile.go
  shell.nix
Due: none

app: add ulid dependency
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
Due: none

router: add uuid v7 and ulid formats to request id
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.sum
  router/go.mod
  router/go.sum
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/request_id/main.go
  router/middleware/examples/security/go.sum
  router/middleware/requestid/doc.go
  router/middleware/requestid/options.go
  router/middleware/requestid/requestid.go
  router/middleware/requestid/requestid_test.go
Due: Router

binding: add converter factory functions for common types
  binding/README.md
  binding/converters.go
  binding/converters_test.go
  binding/doc.go
  binding/errors.go
  binding/errors_test.go
Due: Binding

remove outdated documentation files and update README to direct users to the new documentation site
  docs/CODE_DOCUMENTATION_STANDARDS.md
  docs/DESIGN_PRINCIPLES.md
  docs/README.md
  docs/TESTING_STANDARDS.md
  docs/VERSIONING.md
Due: none

Add the region header to requests
  .gitlab-ci.yml
  chart/values.de.acc.yaml
  chart/values.de.prod.yaml
  chart/values.de.test.yaml
  chart/values.test.yaml
  chart/values.yaml
  cmd/admin-api/main.go
  config.yaml
  internal/config/config.go
  internal/handler/v1/keys/delete.go
  internal/handler/v1/keys/get.go
  internal/handler/v1/keys/handler.go
  internal/handler/v1/keys/list.go
  internal/handler/v1/keys/patch.go
  internal/handler/v1/keys/post.go
  internal/handler/v1/policies/handler.go
  internal/handler/v1/policies/list.go
Due: none

router: add StaticEmbed method for serving embedded files
  router/static.go
  router/static_test.go
  router/testdata/embed/hello.txt
Due: Router

app: update go version and refresh dependencies
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
Due: none

config: update deps and remove go-metrics replace
  config/go.mod
  config/go.sum
Due: Config

config: refactor config api to use simpler option names
  config/case_insensitive_test.go
  config/config.go
  config/config_test.go
  config/example_test.go
  config/examples/basic/main.go
  config/examples/comprehensive/README.md
  config/examples/comprehensive/debug_test.go
  config/examples/comprehensive/main.go
  config/examples/comprehensive/main_test.go
  config/examples/comprehensive/mixed_test.go
  config/examples/environment/main.go
  config/examples/mixed/main.go
  config/fuzz_test.go
  config/integration_test.go
Due: Config

add go-metrics v0.4.1 to go.work.sum
  go.work.sum
Due: none

config: check env function errors in config tests
  config/config_test.go
Due: Config

config: add env var expansion support for config paths
  config/config.go
  config/config_test.go
Due: Config

config: use stricter file permissions in tests
  config/config_test.go
Due: Config

app: bump internal module versions in go.mod
  app/examples/02-blog/go.mod
  app/go.mod
  app/go.sum
Due: App

update go.work.sum to remove go-metrics and add rivaas logging module
  go.work.sum
Due: none

binding: add multipart form binding with file upload support
  binding/bind.go
  binding/bind_bench_test.go
  binding/convert.go
  binding/doc.go
  binding/errors.go
  binding/example_test.go
  binding/file.go
  binding/file_test.go
  binding/multipart.go
  binding/multipart_test.go
  binding/options.go
  binding/source.go
  binding/types.go
Due: Binding

router: remove file upload handling from router
  router/context.go
  router/errors.go
  router/file.go
  router/request.go
  router/request_test.go
Due: Router

app: fix multipart form binding to use MultipartTo
  app/context.go
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

binding: update binding
  binding/convert.go
  binding/convert_test.go
Due: Binding

app: update app
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

binding: update binding
  binding/convert_test.go
Due: Binding
