Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

metrics: bump grpc and genproto indirect deps
  metrics/go.mod
  metrics/go.sum
Due: Metrics

tracing: bump grpc and genproto indirect deps
  tracing/go.mod
  tracing/go.sum
Due: Tracing

middleware/compression: update require pins to v0.15.0
  middleware/compression/example/go.mod
  middleware/compression/go.mod
Due: none

middleware/cors: update dependency pins to v0.15.0
  middleware/cors/example/go.mod
  middleware/cors/go.mod
Due: none

middleware/accesslog: update go.mod dependency versions
  middleware/accesslog/example/go.mod
  middleware/accesslog/go.mod
Due: none

middleware/basicauth: bump go.mod dependency to v0.15.0
  middleware/basicauth/example/go.mod
  middleware/basicauth/go.mod
Due: none

middleware/ratelimit: update go.mod dependency to v0.15.0
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/go.mod
Due: none

middleware/methodoverride: bump router require to v0.15.0
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/go.mod
Due: none

middleware/bodylimit: bump router require to v0.15.0
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/go.mod
Due: none

middleware/recovery: update recovery middleware dependencies
  middleware/recovery/example/go.mod
  middleware/recovery/go.mod
Due: none

middleware/requestid: bump router dependency to v0.15.0
  middleware/requestid/example/go.mod
  middleware/requestid/go.mod
Due: none

middleware/timeout: update router dependency in timeout
  middleware/timeout/example/go.mod
  middleware/timeout/go.mod
Due: none

middleware/security: bump dependency pins to v0.15.0
  middleware/security/example/go.mod
  middleware/security/go.mod
Due: none

router: bump example go.mod dependency versions
  router/examples/03-complete-rest-api/go.mod
  router/examples/04-middleware-stack/go.mod
Due: none

middleware/trailingslash: bump go.mod require to v0.15.0
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/go.mod
Due: none

deps: update go workspace sum checksums
  go.work.sum
Due: none

app: bump go module dependencies
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

tracing: fix godoc examples and provider list text
  tracing/doc.go
  tracing/options.go
Due: Tracing

flake.lock: Update
  flake.lock
Due: none

app: update readme formatting and expand godoc
  app/README.md
  app/doc.go
  app/testing.go
  app/version_group.go
Due: App

binding: add godoc examples and readme fixes
  binding/README.md
  binding/converters.go
  binding/doc.go
  binding/errors.go
Due: Binding

errors: document options pattern and standalone usage
  errors/doc.go
Due: Errors

logging: expand doc with options pattern and standalone
  logging/doc.go
Due: Logging

metrics: expand godoc for options, lifecycle, standalone
  metrics/doc.go
Due: Metrics

openapi: clarify options doc and add standalone section
  openapi/doc.go
Due: OpenAPI

router: expand content-type and package documentation
  router/context.go
  router/doc.go
Due: Router

tracing: improve godoc for options, OTLP, middleware
  tracing/doc.go
Due: Tracing

validation: add default engine test isolation doc example
  validation/doc.go
Due: Validation

app: harden nil validation across startup paths
  app/app.go
  app/app_test.go
  app/debug_options.go
  app/debug_options_test.go
  app/doc.go
  app/group.go
  app/health_options.go
  app/health_options_test.go
  app/lifecycle.go
  app/lifecycle_test.go
  app/mtls.go
  app/options.go
  app/route_option.go
  app/route_option_test.go
  app/route_options_test.go
  app/server.go
  app/tls_options_test.go
  app/version_group.go
Due: App

router: improve comment spacing in option list
  router/doc.go
Due: Router

openapi: harden validation and defensive copy behavior
  openapi/config.go
  openapi/config_test.go
  openapi/example.go
  openapi/example/ex_test.go
  openapi/example/example.go
  openapi/example/example_test.go
  openapi/example_unit_test.go
  openapi/generate.go
  openapi/generate_test.go
Due: OpenAPI

binding: add slice default support and expand tests
  binding/bind.go
  binding/bind_test.go
  binding/convert.go
  binding/doc.go
  binding/json.go
  binding/json_test.go
  binding/types.go
Due: Binding

app: update go dependencies to latest patch versions
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

binding: fix option handling and binder call isolation
  binding/bind.go
  binding/bind_test.go
  binding/binder.go
  binding/binder_test.go
  binding/convert.go
  binding/doc.go
  binding/json.go
  binding/json_test.go
  binding/msgpack/msgpack.go
  binding/options.go
  binding/options_test.go
  binding/toml/toml_test.go
  binding/xml.go
  binding/xml_test.go
Due: Binding

deps: update go work checksum dependencies
  go.work.sum
Due: none

app: add mcp endpoints and tighten debug defaults
  app/app.go
  app/banner.go
  app/debug_endpoints.go
  app/debug_endpoints_test.go
  app/debug_options.go
  app/debug_options_test.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/examples/03-mcp/main.go
  app/go.mod
  app/go.sum
  app/mcp_debug_endpoints.go
  app/mcp_debug_options.go
  app/mcp_debug_options_test.go
  app/mcp_endpoints.go
  app/mcp_options.go
  app/mcp_options_test.go
  app/mcp_runtime.go
Due: App

app: update handler docs and test utilities
  app/app.go
  app/doc.go
  app/group.go
  app/server_integration_test.go
  app/testing.go
  app/version_group.go
Due: App

app: add built-in signal handling for graceful shutdown
  app/README.md
  app/app.go
  app/doc.go
  app/example_reload_test.go
  app/examples/01-quick-start/main.go
  app/examples/02-blog/main.go
  app/examples/03-mcp/main.go
  app/server.go
  app/signal_integration_test.go
  app/signal_unix.go
  app/signal_windows.go
Due: App

app: fix config validation and route registration
  app/app.go
  app/env.go
  app/group.go
  app/lifecycle.go
  app/mtls.go
  app/observability_config.go
  app/options.go
  app/version_group.go
Due: App

deps: update workspace dependency checksums
  go.work.sum
Due: none

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
