Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

router: refactor not-found handler to share pooled context
  router/router.go
Due: Router

app: add tls and mtls at construction, single Start()
  app/README.md
  app/app.go
  app/debug_endpoints.go
  app/doc.go
  app/examples/02-blog/README.md
  app/examples/02-blog/handlers/posts.go
  app/examples/README.md
  app/options.go
  app/server.go
  app/server_integration_test.go
  app/tls_options_test.go
Due: App

binding: format number in recursion limit comment
  binding/proto/proto.go
Due: Binding

config: fix readme links and align markdown tables
  config/README.md
  config/examples/README.md
  config/examples/comprehensive/README.md
  config/examples/environment/README.md
  config/examples/mixed/README.md
Due: Config

logging: normalize readme typography and link paths
  logging/README.md
Due: Logging

metrics: fix readme link syntax and punctuation
  metrics/README.md
Due: Metrics

middleware/accesslog: format readme table and fix e.g. punctuation
  middleware/accesslog/README.md
  middleware/accesslog/example/main.go
Due: none

middleware/basicauth: align table columns in readme
  middleware/basicauth/README.md
Due: none

middleware/bodylimit: align table columns in bodylimit readme
  middleware/bodylimit/README.md
Due: none

middleware/compression: align readme config table columns
  middleware/compression/README.md
Due: none

middleware/cors: format markdown table column alignment in readme
  middleware/cors/README.md
Due: none

middleware/methodoverride: align readme configuration table columns
  middleware/methodoverride/README.md
Due: none

middleware/ratelimit: align table columns in ratelimit readme
  middleware/ratelimit/README.md
Due: none

middleware/recovery: align table columns in readme
  middleware/recovery/README.md
Due: none

middleware/requestid: align table columns in requestid readme
  middleware/requestid/README.md
Due: none

middleware/security: align security readme config table
  middleware/security/README.md
Due: none

middleware/timeout: align table columns in timeout readme
  middleware/timeout/README.md
Due: none

middleware/trailingslash: fix readme table alignment
  middleware/trailingslash/README.md
Due: none

router: clarify comment about error formatting in test
  router/context_interfaces_test.go
Due: Router

openapi: fix grammar in doc comments
  openapi/config.go
Due: OpenAPI

middleware/accesslog: bump router dependency to v0.13.0
  middleware/accesslog/example/go.mod
  middleware/accesslog/go.mod
Due: none

middleware/basicauth: bump router dependency to v0.13.0
  middleware/basicauth/example/go.mod
  middleware/basicauth/go.mod
Due: none

middleware/bodylimit: bump router dependency to v0.13.0
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/go.mod
Due: none

middleware/compression: bump dependency version in go.mod
  middleware/compression/example/go.mod
  middleware/compression/go.mod
Due: none

middleware/cors: bump dependency to v0.13.0
  middleware/cors/example/go.mod
  middleware/cors/go.mod
Due: none

middleware/methodoverride: bump router dependency to v0.13.0
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/go.mod
Due: none

middleware/ratelimit: bump router dependency to v0.13.0
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/go.mod
Due: none

middleware/recovery: update router dependency to v0.13.0
  middleware/recovery/example/go.mod
  middleware/recovery/go.mod
Due: none

middleware/requestid: update router dependency to v0.13.0
  middleware/requestid/example/go.mod
  middleware/requestid/go.mod
Due: none

middleware/security: update router dependency to v0.13.0
  middleware/security/example/go.mod
  middleware/security/go.mod
Due: none

middleware/timeout: bump router dependency to v0.13.0
  middleware/timeout/example/go.mod
  middleware/timeout/go.mod
Due: none

router: update router to v0.13.0 in examples
  router/examples/03-complete-rest-api/go.mod
  router/examples/04-middleware-stack/go.mod
Due: none

middleware/trailingslash: update router dependency to v0.13.0
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/go.mod
Due: none

app: update go dependencies
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

deps: update go.work.sum with new dependency checksums
  go.work.sum
Due: none

docs: update README with tagline, links, and doc URLs
  README.md
Due: none

app: remove internal deps from go.sum
  app/go.sum
Due: App

docs: update README links to reflect new documentation site structure
  docs/README.md
Due: none

docs: add handler observability usage to readme
  README.md
Due: none

metrics: document app.Context usage for custom metrics
  metrics/README.md
  metrics/doc.go
Due: Metrics

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
