Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

middleware/ratelimit: add README and simplify example
  router/middleware/ratelimit/README.md
  router/middleware/ratelimit/example/go.mod
  router/middleware/ratelimit/example/go.sum
  router/middleware/ratelimit/example/main.go
Due: Router

middleware/recovery: add recovery README and simplify example
  router/middleware/recovery/README.md
  router/middleware/recovery/example/go.mod
  router/middleware/recovery/example/go.sum
  router/middleware/recovery/example/main.go
Due: Router

middleware/requestid: add readme and simplify example to use stdlib log
  router/middleware/requestid/README.md
  router/middleware/requestid/example/go.mod
  router/middleware/requestid/example/go.sum
  router/middleware/requestid/example/main.go
Due: Router

middleware/security: add security readme and simplify example
  router/middleware/security/README.md
  router/middleware/security/example/go.mod
  router/middleware/security/example/go.sum
  router/middleware/security/example/main.go
Due: Router

middleware/timeout: add timeout README and simplify example
  router/middleware/timeout/README.md
  router/middleware/timeout/example/go.mod
  router/middleware/timeout/example/go.sum
  router/middleware/timeout/example/main.go
Due: Router

middleware/trailingslash: add trailingslash readme and example
  router/middleware/trailingslash/README.md
  router/middleware/trailingslash/example/go.mod
  router/middleware/trailingslash/example/go.sum
  router/middleware/trailingslash/example/main.go
Due: Router

router: update middleware readme structure and docs
  router/middleware/README.md
Due: Router

nix: add root categories and refine router middleware exclusion
  nix/apps/commit.nix
Due: none

middleware/accesslog: remove bench and integration tests, drop requestid dep
  router/middleware/accesslog/accesslog_bench_test.go
  router/middleware/accesslog/accesslog_integration_suite_test.go
  router/middleware/accesslog/accesslog_test.go
  router/middleware/accesslog/example/go.mod
  router/middleware/accesslog/example/go.sum
  router/middleware/accesslog/example/main.go
  router/middleware/accesslog/go.mod
  router/middleware/accesslog/go.sum
  router/middleware/accesslog/integration_test.go
Due: Router

nix: extract module helpers and fix router filtering
  nix/apps/commit.nix
  nix/apps/release.nix
  nix/lib/default.nix
  nix/lib/module-helpers.nix
Due: none

router: update example deps and middleware readme
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/middleware/README.md
Due: Router

middleware/cors: remove benchmark tests and bump deps
  router/middleware/cors/cors_bench_test.go
  router/middleware/cors/example/go.mod
  router/middleware/cors/go.mod
Due: Router

middleware/bodylimit: remove bench test, bump router and update binding api
  router/middleware/bodylimit/bodylimit_bench_test.go
  router/middleware/bodylimit/example/go.mod
  router/middleware/bodylimit/example/main.go
  router/middleware/bodylimit/go.mod
Due: Router

middleware/ratelimit: bump router to v0.10.0 and remove bench tests
  router/middleware/ratelimit/example/go.mod
  router/middleware/ratelimit/go.mod
  router/middleware/ratelimit/ratelimit_bench_test.go
Due: Router

middleware/compression: remove compression bench and bump router dep
  router/middleware/compression/compression_bench_test.go
  router/middleware/compression/example/go.mod
  router/middleware/compression/go.mod
Due: Router

middleware/basicauth: remove bench and integration tests
  router/middleware/basicauth/basicauth_bench_test.go
  router/middleware/basicauth/basicauth_integration_suite_test.go
  router/middleware/basicauth/example/go.mod
  router/middleware/basicauth/example/go.sum
  router/middleware/basicauth/go.mod
  router/middleware/basicauth/go.sum
  router/middleware/basicauth/integration_test.go
Due: Router

middleware/methodoverride: bump router dep and remove benchmark tests
  router/middleware/methodoverride/example/go.mod
  router/middleware/methodoverride/go.mod
  router/middleware/methodoverride/methodoverride_bench_test.go
Due: Router

middleware/timeout: bump router dep and remove timeout benchmarks
  router/middleware/timeout/example/go.mod
  router/middleware/timeout/go.mod
  router/middleware/timeout/timeout_bench_test.go
Due: Router

middleware/trailingslash: bump router to v0.10.0 and remove bench tests
  router/middleware/trailingslash/example/go.mod
  router/middleware/trailingslash/go.mod
  router/middleware/trailingslash/trailingslash_bench_test.go
Due: Router

middleware/security: bump router dep and remove benchmark tests
  router/middleware/security/example/go.mod
  router/middleware/security/go.mod
  router/middleware/security/security_bench_test.go
Due: Router

middleware/recovery: refactor recovery middleware deps and tests
  router/middleware/recovery/example/go.mod
  router/middleware/recovery/example/go.sum
  router/middleware/recovery/go.mod
  router/middleware/recovery/go.sum
  router/middleware/recovery/integration_test.go
  router/middleware/recovery/recovery_bench_test.go
  router/middleware/recovery/recovery_integration_suite_test.go
  router/middleware/requestid/example/go.mod
  router/middleware/requestid/example/go.sum
  router/middleware/requestid/go.mod
  router/middleware/requestid/requestid_bench_test.go
Due: Router

nix: show deleted files separately in commit picker
  nix/apps/commit.nix
Due: none

nix: rename config category to dotfiles
  nix/apps/commit.nix
Due: none

config: update golang.org/x/exp indirect dependency
  config/go.mod
  config/go.sum
Due: Config

docs: fix middleware doc path and add to module list
  README.md
Due: none

router: update examples to use standalone middleware
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/main.go
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/main.go
  router/examples/README.md
Due: none

middleware/accesslog: update middleware to use standalone module path
  middleware/accesslog/README.md
  middleware/accesslog/doc.go
  middleware/accesslog/example/go.mod
  middleware/accesslog/example/main.go
  middleware/accesslog/go.mod
Due: none

middleware/basicauth: update to standalone middleware import path
  middleware/basicauth/README.md
  middleware/basicauth/doc.go
  middleware/basicauth/example/go.mod
  middleware/basicauth/example/main.go
  middleware/basicauth/go.mod
Due: none

middleware/bodylimit: update bodylimit middleware to standalone module path
  middleware/bodylimit/README.md
  middleware/bodylimit/doc.go
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/example/main.go
  middleware/bodylimit/go.mod
Due: none

middleware/compression: update compression middleware module path
  middleware/compression/README.md
  middleware/compression/doc.go
  middleware/compression/example/go.mod
  middleware/compression/example/main.go
  middleware/compression/go.mod
Due: none

middleware/cors: update cors to standalone module path
  middleware/cors/README.md
  middleware/cors/doc.go
  middleware/cors/example/go.mod
  middleware/cors/example/main.go
  middleware/cors/go.mod
Due: none

middleware/methodoverride: update methodoverride to standalone module path
  middleware/methodoverride/README.md
  middleware/methodoverride/doc.go
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/example/main.go
  middleware/methodoverride/go.mod
Due: none

middleware/ratelimit: update ratelimit middleware module path
  middleware/ratelimit/README.md
  middleware/ratelimit/doc.go
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/example/main.go
  middleware/ratelimit/go.mod
Due: none

middleware/recovery: update recovery middleware to new module path
  middleware/recovery/README.md
  middleware/recovery/doc.go
  middleware/recovery/example/go.mod
  middleware/recovery/example/main.go
  middleware/recovery/go.mod
Due: none

middleware/requestid: update requestid middleware to standalone module path
  middleware/requestid/README.md
  middleware/requestid/doc.go
  middleware/requestid/example/go.mod
  middleware/requestid/example/main.go
  middleware/requestid/go.mod
Due: none

middleware/security: move security middleware to standalone module path
  middleware/security/README.md
  middleware/security/doc.go
  middleware/security/example/go.mod
  middleware/security/example/main.go
  middleware/security/go.mod
Due: none

middleware/timeout: update timeout middleware to standalone module path
  middleware/timeout/README.md
  middleware/timeout/doc.go
  middleware/timeout/example/go.mod
  middleware/timeout/example/main.go
  middleware/timeout/go.mod
Due: none

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
