Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

config: add tests for config tags, defaults, and helpers
  config/config_test.go
  config/dumper/file_test.go
  config/testing_test.go
Due: Config

openapi: add marshal and export tests for v3.0/v3.1 types
  openapi/internal/export/marshal_test.go
  openapi/internal/export/spec_test.go
  openapi/swagger_test.go
Due: OpenAPI

openapi: add full coverage tests for v30 and v31 spec projection
  openapi/internal/export/spec_test.go
Due: OpenAPI

app: bump internal and third-party dependencies
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

update golang.org/x/oauth2 to v0.35.0 in go.work.sum
  go.work.sum
Due: none

router: add and expand unit tests for router package
  router/cache_control_test.go
  router/cache_test.go
  router/compiler/bloom_test.go
  router/compiler/compiler_test.go
  router/context_test.go
  router/introspection_test.go
  router/middleware/requestid/requestid_test.go
  router/middleware/security/security_test.go
  router/middleware/trailingslash/trailingslash_test.go
  router/options_test.go
  router/params_typed_test.go
  router/route/route_test.go
  router/router_test.go
  router/serve_integration_test.go
  router/version/version_test.go
Due: Router

config: add tests for error paths and edge cases
  config/codec/env_test.go
  config/codec/registry_test.go
  config/config_test.go
Due: Config

logging: add coverage tests for logging handlers and helpers
  logging/buffer_test.go
  logging/handlers_test.go
  logging/logging_test.go
Due: Logging

tracing: add edge case and defensive tests for middleware
  tracing/middleware_test.go
Due: Tracing

validation: add comprehensive test coverage for validation
  validation/errors_test.go
  validation/interface_test.go
  validation/jsonschema_test.go
  validation/options_test.go
  validation/tags_test.go
  validation/validate_test.go
Due: Validation

tracing: add tracing tests for providers, testing helpers, and edge cases
  tracing/middleware_test.go
  tracing/providers_test.go
  tracing/testing_test.go
  tracing/tracing_test.go
Due: Tracing

router: add middleware test coverage for edge cases
  router/middleware/accesslog/accesslog_test.go
  router/middleware/bodylimit/bodylimit_test.go
  router/middleware/compression/compression_test.go
  router/middleware/example_test.go
  router/middleware/ratelimit/ratelimit_test.go
  router/middleware/ratelimit/stores_test.go
  router/middleware/recovery/recovery_test.go
  router/middleware/timeout/timeout_test.go
Due: Router

config: bump golang.org/x/exp indirect dependency
  config/go.mod
  config/go.sum
Due: Config

metrics: bump grpc-gateway dependency to v2.27.8
  metrics/go.mod
  metrics/go.sum
Due: Metrics

router: update golang.org/x/exp to latest snapshot
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/middleware/examples/basic_auth/go.mod
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/compression/go.mod
  router/middleware/examples/compression/go.sum
  router/middleware/examples/cors/go.mod
  router/middleware/examples/cors/go.sum
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/ratelimit/go.mod
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/recovery/go.mod
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/security/go.mod
  router/middleware/examples/security/go.sum
  router/middleware/examples/timeout/go.mod
  router/middleware/examples/timeout/go.sum
Due: none

tracing: bump grpc-gateway dependency to v2.27.8
  tracing/go.mod
  tracing/go.sum
Due: Tracing

app: bump golang.org/x/exp dependency version
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
Due: none

add grpc-gateway v2.27.7 to go.work.sum
  go.work.sum
Due: none

logging: replace ContextLogger with contextHandler wrapper
  logging/context.go
  logging/doc.go
  logging/example_test.go
  logging/handlers.go
  logging/integration_test.go
  logging/logger.go
  logging/logging_bench_test.go
  logging/logging_test.go
Due: Logging

router: remove request-scoped logger from router context
  router/context.go
  router/context_interfaces.go
  router/context_test.go
  router/example_test.go
  router/middleware/accesslog/accesslog.go
  router/middleware/accesslog/accesslog_test.go
  router/middleware/integration_test.go
  router/observability.go
  router/observability_example_test.go
  router/observability_test_helpers.go
  router/observability_wrapping_test.go
  router/serve.go
Due: Router

app: remove per-context logger in favor of slog
  app/app.go
  app/app_bench_test.go
  app/app_integration_suite_test.go
  app/app_suite_test.go
  app/app_test.go
  app/chaos_test.go
  app/context.go
  app/context_pool.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/examples/02-blog/handlers/authors.go
  app/examples/02-blog/handlers/comments.go
  app/examples/02-blog/handlers/posts.go
  app/examples/02-blog/handlers/stats.go
  app/examples/02-blog/main.go
  app/go.mod
  app/go.sum
  app/health_standard.go
  app/observability.go
  app/property_test.go
  app/semconv.go
  app/server.go
  app/testing.go
  app/testing_test.go
Due: App

router: update RouteExists doc example to use /livez
  router/router.go
Due: Router

tracing: use distinct path in exact match exclusion test
  tracing/path_filter_test.go
Due: Tracing

app: rename healthz endpoint to livez across codebase
  app/app.go
  app/doc.go
  app/examples/01-quick-start/main.go
  app/examples/02-blog/README.md
  app/examples/02-blog/go.mod
  app/examples/02-blog/main_test.go
  app/examples/README.md
  app/go.mod
  app/health_options.go
  app/health_options_test.go
  app/health_standard.go
  app/health_standard_test.go
  app/observability_config.go
  app/observability_config_test.go
  app/observability_options.go
  app/observability_test.go
  app/options.go
  app/server_integration_test.go
Due: App

app: update go dependencies for grpc and exp
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

config: update golang.org/x/exp indirect dependency
  config/go.mod
  config/go.sum
Due: Config

metrics: bump grpc dependency to v1.79.1
  metrics/go.mod
  metrics/go.sum
Due: Metrics

router: update indirect deps in examples
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/middleware/examples/basic_auth/go.mod
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/compression/go.mod
  router/middleware/examples/compression/go.sum
  router/middleware/examples/cors/go.mod
  router/middleware/examples/cors/go.sum
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/ratelimit/go.mod
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/recovery/go.mod
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/security/go.mod
  router/middleware/examples/security/go.sum
  router/middleware/examples/timeout/go.mod
  router/middleware/examples/timeout/go.sum
Due: none

tracing: bump grpc dependency to v1.79.1
  tracing/go.mod
  tracing/go.sum
Due: Tracing

chore: update go.work.sum with new dependency versions
  go.work.sum
Due: none

app: update go.sum with latest dependency versions
  app/examples/02-blog/go.sum
  app/go.sum
Due: App

config: update go.sum dependency checksums
  config/go.sum
Due: Config

metrics: update go.sum dependency versions
  metrics/go.sum
Due: Metrics

router: update go.sum files across examples
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.sum
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/compression/go.sum
  router/middleware/examples/cors/go.sum
  router/middleware/examples/logger/go.sum
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/security/go.sum
  router/middleware/examples/timeout/go.sum
Due: none

tracing: update grpc dependency to v1.79.1
  tracing/go.sum
Due: Tracing

chore: update go.work.sum with grpc dependency bump to v1.78.0
  go.work.sum
Due: none

router: rewrite benchmarks with uniform methodology
  router/benchmarks/README.md
  router/benchmarks/baseline.txt
  router/benchmarks/comparison_test.go
  router/benchmarks/go.mod
  router/benchmarks/go.sum
Due: none

chore: update go.work.sum and add benchmarks workflow
  .github/workflows/benchmarks.yml
  go.work.sum
Due: none

router: use nolint comments and reorder imports in benchmarks
  router/benchmarks/comparison_test.go
Due: none

chore: update benchmarks workflow to trigger on router version tags
  .github/workflows/benchmarks.yml
Due: none
