Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

router: document engine contract and remove nil guards
  router/version/doc.go
  router/version/engine.go
  router/version/version_test.go
Due: Router

app: reject nil options and return clear errors
  app/app.go
  app/app_test.go
  app/context.go
  app/options.go
  app/testing.go
  app/testing_test.go
  app/validate_options.go
  app/validate_options_test.go
Due: App

logging: add nil option validation for New and MustNew
  logging/logger.go
  logging/logging_test.go
Due: Logging

metrics: reject nil options in New and add tests
  metrics/metrics.go
  metrics/metrics_test.go
Due: Metrics

openapi: reject nil options and return validation errors
  openapi/config.go
  openapi/config_test.go
  openapi/swagger.go
  openapi/validate/validate.go
  openapi/validate/validate_test.go
Due: OpenAPI

router: add nil option validation and return clear errors
  router/options.go
  router/options_test.go
  router/router.go
  router/router_test.go
  router/version/config.go
  router/version/doc.go
  router/version/engine.go
  router/version/lifecycle.go
  router/version/options.go
  router/version/version_test.go
  router/versioning.go
Due: Router

tracing: reject nil options in tracer and OTLP config
  tracing/options.go
  tracing/tracing.go
  tracing/tracing_test.go
Due: Tracing

validation: add nil option validation and tests
  validation/options_test.go
  validation/validator.go
Due: Validation

app: return error when bind option is nil
  app/bind_options.go
  app/bind_options_test.go
  app/context.go
  app/doc.go
Due: App

config: require CONSUL_HTTP_ADDR for Consul, add optional
  config/config.go
  config/config_test.go
  config/doc.go
Due: Config

app: add hints to config validation errors
  app/app.go
  app/app_test.go
  app/errors.go
  app/errors_test.go
Due: App

app: rename ValidationError to ConfigErrors
  app/app.go
  app/app_test.go
  app/errors.go
  app/errors_test.go
  app/fuzz_test.go
  app/observability_test.go
  app/options_error_test.go
  app/property_test.go
  app/server_config_test.go
Due: App

openapi: refactor example to use internal config and remove from openapi
  openapi/example.go
  openapi/example/example.go
  openapi/example_unit_test.go
Due: OpenAPI

config: refactor options to use internal config struct
  config/config.go
  config/doc.go
Due: Config

logging: refactor sampling api to individual option functions
  logging/doc.go
  logging/example_test.go
  logging/examples/02-production/main.go
  logging/integration_test.go
  logging/logger.go
  logging/logging_bench_test.go
  logging/logging_test.go
  logging/options.go
Due: Logging

app: defer nil route option errors to ValidateRoutes
  app/app.go
  app/route_options_test.go
Due: App

app: clarify UIConfig as read-only UISnapshot
  app/openapi_state.go
Due: App

openapi: refactor API.UI to return UISnapshot interface
  openapi/config.go
  openapi/doc.go
  openapi/swagger_test.go
  openapi/ui.go
  openapi/ui_test.go
Due: OpenAPI

app: handle openapi.Op error in app and tests
  app/app.go
  app/openapi_state_test.go
Due: App

openapi: refactor operation constructors to return error
  openapi/compose_test.go
  openapi/config.go
  openapi/example/example_test.go
  openapi/example_test.go
  openapi/example_warnings_test.go
  openapi/generate_test.go
  openapi/integration_test.go
  openapi/operation.go
  openapi/operation_test.go
  openapi/swagger.go
  openapi/swagger_test.go
  openapi/ui.go
  openapi/ui_test.go
Due: OpenAPI

metrics: move validation to config and simplify tests
  metrics/metrics.go
  metrics/validation_test.go
Due: Metrics

binding: add nil check for options in constructor
  binding/binder.go
Due: Binding

errors: add nil check for options
  errors/formatter.go
Due: Errors

app: pre-allocate default formatter to avoid per-response alloc
  app/context.go
Due: App

app: defer openapi finalization to config validation
  app/app.go
  app/openapi_state_test.go
  app/options.go
Due: App

app: unexport observability config struct fields
  app/app.go
  app/observability.go
Due: App

tracing: remove unused TraceContext and its test
  tracing/tracing.go
  tracing/tracing_test.go
Due: Tracing

app: refactor openapi api names and app state delegation
  app/app.go
  app/examples/02-blog/main.go
  app/group.go
  app/openapi_state.go
  app/openapi_state_test.go
  app/route_option_test.go
  app/version_group.go
Due: App

openapi: refactor api to spec, addoperation, and with* builders
  openapi/README.md
  openapi/compose.go
  openapi/compose_test.go
  openapi/config.go
  openapi/config_test.go
  openapi/diag/doc.go
  openapi/doc.go
  openapi/errors.go
  openapi/example/example_test.go
  openapi/example_test.go
  openapi/example_warnings_test.go
  openapi/generate.go
  openapi/generate_test.go
  openapi/integration_test.go
  openapi/operation.go
  openapi/operation_test.go
Due: OpenAPI

app: replace WithDescription with WithOperationDescription
  app/examples/02-blog/main.go
Due: none

openapi: return errors for invalid path and nil options
  openapi/compose.go
  openapi/compose_test.go
  openapi/config.go
  openapi/operation.go
  openapi/operation_test.go
Due: OpenAPI

app: handle AddOperation error and panic on failure
  app/app.go
  app/openapi_state.go
  app/openapi_state_test.go
Due: App

openapi: validate operations at add time and refactor api surface
  openapi/README.md
  openapi/compose_test.go
  openapi/config.go
  openapi/config_test.go
  openapi/diag/doc.go
  openapi/doc.go
  openapi/example_test.go
  openapi/example_warnings_test.go
  openapi/generate.go
  openapi/generate_test.go
  openapi/integration_test.go
  openapi/types.go
  openapi/ui.go
  openapi/ui_test.go
Due: OpenAPI

tracing: refactor middleware to return errors instead of panic
  tracing/doc.go
  tracing/example_test.go
  tracing/middleware.go
  tracing/middleware_test.go
  tracing/options.go
  tracing/options_test.go
  tracing/testing.go
  tracing/tracing_bench_test.go
  tracing/tracing_integration_test.go
  tracing/tracing_test.go
Due: Tracing

tracing: add docs for OTLP start and context span helpers
  tracing/doc.go
  tracing/tracing.go
Due: Tracing

tracing: panic with error in Must* and add nil validation
  tracing/middleware.go
  tracing/middleware_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Due: Tracing

tracing: validate tracer options and add start helpers
  tracing/doc.go
  tracing/options.go
  tracing/providers_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Due: Tracing

app: refactor child span finish and add helpers
  app/app_integration_suite_test.go
  app/context.go
  app/context_test.go
  app/doc.go
  app/example_test.go
  app/observability_test.go
Due: App

config: use Setenv and remove parallel in consul tests
  config/config_test.go
Due: Config

tracing: refactor span finish api and add helpers
  tracing/custom_provider_test.go
  tracing/doc.go
  tracing/example_test.go
  tracing/middleware_test.go
  tracing/providers_test.go
  tracing/testing_test.go
  tracing/tracing.go
  tracing/tracing_bench_test.go
  tracing/tracing_test.go
Due: Tracing

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
