Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

router: simplify and tighten README copy
  router/README.md
Due: Router

fix: update benchmarks workflow to trigger on router version tags
  .github/workflows/benchmarks.yml
Due: none

chore: update benchmarks workflow to use nix shell for Go commands
  .github/workflows/benchmarks.yml
Due: none

fix: trim whitespace in CPU metadata extraction in benchmarks workflow
  .github/workflows/benchmarks.yml
Due: none

router: update performance claim with link to benchmarks
  router/README.md
Due: Router

docs: update README to reflect current benchmarking practices and remove outdated performance metrics
  README.md
Due: none

remove hardcoded port in README example for flexibility
  README.md
Due: none

flake.lock: Update
  flake.lock
Due: none

app: update deps and modernize test idioms
  app/app_test.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
  app/reload_test.go
Due: App

binding: update reflect.Ptr to reflect.Pointer alias
  binding/bind.go
  binding/bind_bench_test.go
  binding/cache.go
  binding/convert.go
  binding/convert_test.go
  binding/errors.go
  binding/json.go
Due: Binding

config: modernize Go idioms and use newer stdlib APIs
  config/codec/env.go
  config/config.go
  config/config_test.go
Due: Config

metrics: bump grpc-gateway and genproto dependencies
  metrics/go.mod
  metrics/go.sum
Due: Metrics

openapi: use modern go idioms and stdlib functions
  openapi/diag/warning.go
  openapi/internal/build/builder.go
  openapi/internal/export/schema30.go
  openapi/internal/export/schema31.go
  openapi/internal/export/spec_test.go
  openapi/internal/export/types_v30.go
  openapi/internal/schema/common.go
  openapi/internal/schema/generator.go
  openapi/internal/schema/introspect.go
  openapi/operation.go
  openapi/validate/path.go
Due: OpenAPI

router: update deps and use WaitGroup.Go in tests
  router/concurrent_test.go
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/middleware/basicauth/basicauth.go
  router/middleware/examples/basic_auth/go.mod
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/compression/go.mod
  router/middleware/examples/compression/go.sum
  router/middleware/examples/cors/go.mod
  router/middleware/examples/cors/go.sum
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/ratelimit/go.mod
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/recovery/go.mod
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/security/go.mod
  router/middleware/examples/security/go.sum
  router/middleware/examples/timeout/go.mod
  router/middleware/examples/timeout/go.sum
  router/version/detectors.go
Due: Router

tracing: update deps and modernize test code
  tracing/go.mod
  tracing/go.sum
  tracing/middleware_test.go
  tracing/providers_test.go
Due: Tracing

validation: modernize go idioms and stdlib usage
  validation/errors_test.go
  validation/interface.go
  validation/jsonschema_test.go
  validation/options.go
  validation/tags.go
  validation/tags_test.go
  validation/validate.go
Due: Validation

deps: update Go version in devshell and add new genproto entries
  go.work.sum
  nix/devshell.nix
Due: none

config: update indirect go dependencies in config
  config/go.mod
  config/go.sum
Due: Config

metrics: bump indirect dependency
  metrics/go.mod
  metrics/go.sum
Due: Metrics

openapi: update go dependencies
  openapi/go.mod
  openapi/go.sum
Due: OpenAPI

router: update go module dependencies
  router/benchmarks/go.mod
  router/benchmarks/go.sum
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/03-complete-rest-api/main.go
  router/examples/04-middleware-stack/go.sum
  router/examples/04-middleware-stack/main.go
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.sum
  router/examples/07-versioning/go.sum
  router/go.sum
  router/middleware/accesslog/accesslog.go
  router/middleware/accesslog/accesslog_integration_suite_test.go
  router/middleware/accesslog/accesslog_test.go
  router/middleware/accesslog/example/go.mod
  router/middleware/accesslog/example/go.sum
  router/middleware/accesslog/example/main.go
  router/middleware/accesslog/go.mod
  router/middleware/accesslog/go.sum
  router/middleware/accesslog/integration_test.go
  router/middleware/accesslog/options.go
Due: Router

middleware/basicauth: refactor basicauth to use local context key and rename api
  router/middleware/basicauth/basicauth.go
  router/middleware/basicauth/basicauth_integration_suite_test.go
  router/middleware/basicauth/basicauth_test.go
  router/middleware/basicauth/doc.go
  router/middleware/basicauth/example/go.mod
  router/middleware/basicauth/example/go.sum
  router/middleware/basicauth/example/main.go
  router/middleware/basicauth/go.mod
  router/middleware/basicauth/go.sum
  router/middleware/basicauth/integration_test.go
  router/middleware/bodylimit/example/go.mod
  router/middleware/bodylimit/example/go.sum
  router/middleware/bodylimit/example/main.go
  router/middleware/bodylimit/go.mod
  router/middleware/bodylimit/go.sum
Due: Router

middleware/compression: add compression middleware and example
  router/middleware/compression/example/go.mod
  router/middleware/compression/example/go.sum
  router/middleware/compression/example/main.go
  router/middleware/compression/go.mod
  router/middleware/compression/go.sum
Due: Router

middleware/cors: add cors middleware and example
  router/middleware/cors/example/go.mod
  router/middleware/cors/example/go.sum
  router/middleware/cors/example/main.go
  router/middleware/cors/go.mod
  router/middleware/cors/go.sum
Due: Router

middleware/methodoverride: refactor methodoverride module and context api
  router/middleware/methodoverride/doc.go
  router/middleware/methodoverride/go.mod
  router/middleware/methodoverride/go.sum
  router/middleware/methodoverride/methodoverride.go
  router/middleware/methodoverride/methodoverride_test.go
  router/middleware/methodoverride/options.go
Due: Router

middleware/ratelimit: add ratelimit example
  router/middleware/ratelimit/example/go.mod
  router/middleware/ratelimit/example/go.sum
  router/middleware/ratelimit/example/main.go
  router/middleware/ratelimit/go.mod
  router/middleware/ratelimit/go.sum
Due: Router

middleware/recovery: add recovery middleware with example
  router/middleware/recovery/example/go.mod
  router/middleware/recovery/example/go.sum
  router/middleware/recovery/example/main.go
  router/middleware/recovery/go.mod
  router/middleware/recovery/go.sum
  router/middleware/recovery/integration_test.go
  router/middleware/recovery/recovery_integration_suite_test.go
Due: Router

middleware/requestid: add requestid example and standalone go module
  router/middleware/requestid/example/go.mod
  router/middleware/requestid/example/go.sum
  router/middleware/requestid/example/main.go
  router/middleware/requestid/go.mod
  router/middleware/requestid/go.sum
  router/middleware/requestid/requestid.go
Due: Router

middleware/security: add security middleware example
  router/middleware/security/example/go.mod
  router/middleware/security/example/go.sum
  router/middleware/security/example/main.go
  router/middleware/security/go.mod
  router/middleware/security/go.sum
  router/middleware/security/security_test.go
Due: Router

middleware/timeout: add timeout middleware and example
  router/middleware/timeout/example/go.mod
  router/middleware/timeout/example/go.sum
  router/middleware/timeout/example/main.go
  router/middleware/timeout/go.mod
  router/middleware/timeout/go.sum
Due: Router

middleware/trailingslash: add trailingslash middleware go module
  router/middleware/trailingslash/go.mod
  router/middleware/trailingslash/go.sum
Due: Router

router: remove unused middleware files and examples
  router/middleware/README.md
  router/middleware/doc.go
  router/middleware/example_test.go
  router/middleware/examples/README.md
  router/middleware/examples/basic_auth/go.mod
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/basic_auth/main.go
  router/middleware/examples/body_limit/go.mod
  router/middleware/examples/body_limit/go.sum
  router/middleware/examples/body_limit/main.go
  router/middleware/examples/compression/go.mod
  router/middleware/examples/compression/go.sum
  router/middleware/examples/compression/main.go
  router/middleware/examples/cors/go.mod
  router/middleware/examples/cors/go.sum
  router/middleware/examples/cors/main.go
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/logger/main.go
  router/middleware/examples/ratelimit/go.mod
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/ratelimit/main.go
  router/middleware/examples/recovery/go.mod
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/recovery/main.go
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/request_id/main.go
  router/middleware/examples/security/go.mod
  router/middleware/examples/security/go.sum
  router/middleware/examples/security/main.go
  router/middleware/examples/timeout/go.mod
  router/middleware/examples/timeout/go.sum
  router/middleware/examples/timeout/main.go
  router/middleware/integration_test.go
  router/middleware/middleware_integration_suite_test.go
  router/middleware/testing.go
  router/middleware/types.go
Due: Router

app: add router middleware deps and bump indirect modules
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

update go.work and go.work.sum for new middleware modules and dependency bumps
  go.work
  go.work.sum
  nix/apps/commit.nix
  nix/lib/find-patterns.nix
Due: none

middleware/accesslog: add readme and simplify example
  router/middleware/accesslog/README.md
  router/middleware/accesslog/example/go.mod
  router/middleware/accesslog/example/go.sum
  router/middleware/accesslog/example/main.go
Due: Router

middleware/basicauth: add README and simplify example
  router/middleware/basicauth/README.md
  router/middleware/basicauth/example/go.mod
  router/middleware/basicauth/example/go.sum
  router/middleware/basicauth/example/main.go
Due: Router

middleware/bodylimit: add bodylimit readme
  router/middleware/bodylimit/README.md
Due: Router

middleware/compression: add compression readme and simplify example
  router/middleware/compression/README.md
  router/middleware/compression/example/go.mod
  router/middleware/compression/example/go.sum
  router/middleware/compression/example/main.go
Due: Router

middleware/cors: add cors readme and simplify example
  router/middleware/cors/README.md
  router/middleware/cors/example/go.mod
  router/middleware/cors/example/go.sum
  router/middleware/cors/example/main.go
Due: Router

middleware/methodoverride: add methodoverride README and example
  router/middleware/methodoverride/README.md
  router/middleware/methodoverride/example/go.mod
  router/middleware/methodoverride/example/go.sum
  router/middleware/methodoverride/example/main.go
Due: Router
