Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

tracing: add app integration documentation
  tracing/README.md
  tracing/doc.go
Due: Tracing

config: update go indirect dependencies
  config/go.mod
  config/go.sum
Due: Config

logging: bump otel deps to v1.42.0 and go version
  logging/go.mod
  logging/go.sum
Due: Logging

metrics: update otel and go dependencies
  metrics/go.mod
  metrics/go.sum
Due: Metrics

openapi: update go version and indirect dependencies
  openapi/go.mod
  openapi/go.sum
Due: OpenAPI

router: update go module dependencies
  router/benchmarks/go.mod
  router/benchmarks/go.sum
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/examples/07-versioning/go.mod
  router/examples/07-versioning/go.sum
  router/go.mod
  router/go.sum
Due: Router

tracing: bump opentelemetry and go dependencies
  tracing/go.mod
  tracing/go.sum
Due: Tracing

validation: update go 1.25.0 and bump golang.org/x deps
  validation/go.mod
  validation/go.sum
Due: Validation

deps: update go.work.sum with new dependency checksums
  go.work.sum
Due: none

middleware/accesslog: update go module dependencies
  middleware/accesslog/example/go.mod
  middleware/accesslog/example/go.sum
  middleware/accesslog/go.mod
  middleware/accesslog/go.sum
Due: none

middleware/basicauth: update go module dependencies
  middleware/basicauth/example/go.mod
  middleware/basicauth/example/go.sum
  middleware/basicauth/go.mod
  middleware/basicauth/go.sum
Due: none

middleware/bodylimit: update go dependency versions
  middleware/bodylimit/example/go.mod
  middleware/bodylimit/example/go.sum
  middleware/bodylimit/go.mod
  middleware/bodylimit/go.sum
Due: none

middleware/compression: update go dependencies
  middleware/compression/example/go.mod
  middleware/compression/example/go.sum
  middleware/compression/go.mod
  middleware/compression/go.sum
Due: none

middleware/cors: update go module dependencies
  middleware/cors/example/go.mod
  middleware/cors/example/go.sum
  middleware/cors/go.mod
  middleware/cors/go.sum
Due: none

middleware/methodoverride: bump go module dependencies
  middleware/methodoverride/example/go.mod
  middleware/methodoverride/example/go.sum
  middleware/methodoverride/go.mod
  middleware/methodoverride/go.sum
Due: none

middleware/ratelimit: update go dependencies in ratelimit
  middleware/ratelimit/example/go.mod
  middleware/ratelimit/example/go.sum
  middleware/ratelimit/go.mod
  middleware/ratelimit/go.sum
Due: none

middleware/recovery: update go module dependencies
  middleware/recovery/example/go.mod
  middleware/recovery/example/go.sum
  middleware/recovery/go.mod
  middleware/recovery/go.sum
Due: none

middleware/requestid: update go module dependencies
  middleware/requestid/example/go.mod
  middleware/requestid/example/go.sum
  middleware/requestid/go.mod
  middleware/requestid/go.sum
Due: none

middleware/security: update go dependencies
  middleware/security/example/go.mod
  middleware/security/example/go.sum
  middleware/security/go.mod
  middleware/security/go.sum
Due: none

middleware/timeout: update go dependency versions
  middleware/timeout/example/go.mod
  middleware/timeout/example/go.sum
  middleware/timeout/go.mod
  middleware/timeout/go.sum
Due: none

middleware/trailingslash: update go module dependencies
  middleware/trailingslash/example/go.mod
  middleware/trailingslash/example/go.sum
  middleware/trailingslash/go.mod
  middleware/trailingslash/go.sum
Due: none

router: bump examples dependency to v0.13.1
  router/examples/03-complete-rest-api/go.mod
  router/examples/04-middleware-stack/go.mod
Due: none

app: add observability context API for spans and metrics
  app/README.md
  app/app_integration_suite_test.go
  app/context.go
  app/context_test.go
  app/doc.go
  app/example_test.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/observability.go
  app/observability_test.go
Due: App

ci: update workflow tag trigger pattern
  .github/workflows/goreportcard.yml
Due: none

router: document validation errors and remove from router
  router/README.md
  router/doc.go
  router/errors.go
Due: Router

validation: document sentinel errors for validation
  validation/README.md
  validation/doc.go
Due: Validation

router: remove noop logger and test
  router/router.go
  router/router_test.go
Due: Router

app: refactor context pool cleanup into Put and add test
  app/app.go
  app/context_pool.go
  app/context_pool_test.go
Due: App

app: return nil from Validate when no errors
  app/app.go
  app/server_config_test.go
Due: App

app: remove redundant message param from timeout error
  app/app.go
  app/errors.go
Due: App

app: use router.HandlerFunc in chain, convert for route API
  app/group.go
Due: App

config: return nil on error in New instead of partial config
  config/config.go
Due: Config

app: use Fail for error responses in docs and examples
  app/context.go
  app/example_test.go
  app/health_standard.go
Due: App

binding: update doc example to use JSON for error response
  binding/doc.go
Due: Binding

router: rename Error to CollectError
  router/context.go
  router/context_error_collection_test.go
  router/context_write_methods_test.go
  router/example_test.go
Due: Router

config: add validator interface documentation
  config/config.go
Due: Config

validation: rename validator to engine, interface to validator
  validation/doc.go
  validation/errors_test.go
  validation/example_test.go
  validation/integration_test.go
  validation/interface.go
  validation/interface_test.go
  validation/interfaces.go
  validation/jsonschema.go
  validation/options.go
  validation/options_test.go
  validation/tags.go
  validation/validate.go
  validation/validator.go
Due: Validation

app: add global logger so slog uses app logger
  app/app.go
Due: App

router: document SetETag with RFC 7232 and example
  router/cache.go
  router/context.go
Due: Router

app: use dynamic port and retry loop in server test
  app/server_integration_test.go
Due: App

Path conditions:
  App: any of: app/**, but not: **/examples/**, **/benchmarks/**
  Binding: any of: binding/**, but not: **/examples/**, **/benchmarks/**
  Config: any of: config/**, but not: **/examples/**, **/benchmarks/**
  Errors: any of: errors/**, but not: **/examples/**, **/benchmarks/**
  Logging: any of: logging/**, but not: **/examples/**, **/benchmarks/**
  Metrics: any of: metrics/**, but not: **/examples/**, **/benchmarks/**
  OpenAPI: any of: openapi/**, but not: **/examples/**, **/benchmarks/**
  Router: any of: router/**, but not: **/examples/**, **/benchmarks/**
  Tracing: any of: tracing/**, but not: **/examples/**, **/benchmarks/**
  Validation: any of: validation/**, but not: **/examples/**, **/benchmarks/**
