Repository rivaas-dev/rivaas: changes, and which Codecov flags are due for each by the changed paths.
All: App, Binding, Config, Errors, Logging, Metrics, OpenAPI, Router, Tracing, Validation

codecov.yml:

# Codecov configuration for Rivaas
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60..80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: true

# Automatic Flag Management (recommended)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: 80%
  individual_flags:
    - name: unittests
      paths:
        - "**"
      carryforward: true
    - name: integration
      paths:
        - "**"
      carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_app
      name: App
      paths:
        - "app/**"
    - component_id: module_binding
      name: Binding
      paths:
        - "binding/**"
    - component_id: module_config
      name: Config
      paths:
        - "config/**"
    - component_id: module_errors
      name: Errors
      paths:
        - "errors/**"
    - component_id: module_logging
      name: Logging
      paths:
        - "logging/**"
    - component_id: module_metrics
      name: Metrics
      paths:
        - "metrics/**"
    - component_id: module_openapi
      name: OpenAPI
      paths:
        - "openapi/**"
    - component_id: module_router
      name: Router
      paths:
        - "router/**"
    - component_id: module_tracing
      name: Tracing
      paths:
        - "tracing/**"
    - component_id: module_validation
      name: Validation
      paths:
        - "validation/**"

ignore:
  - "**/examples/**"
  - "**/benchmarks/**"

app: add type-safe generic request binding api
  app/bind.go
  app/bind_bench_test.go
  app/bind_options.go
  app/bind_options_test.go
  app/bind_test.go
  app/context.go
  app/context_test.go
  app/doc.go
  app/example_test.go
  app/testing.go
Due: App

increase timeout for cursor-agent test and improve error messaging
  nix/apps/commit.nix
Due: none

app: bump binding dependency to v0.7.2
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

router: remove BindStrict method and related types
  router/context.go
  router/errors.go
  router/examples/07-versioning/main.go
Due: Router

app: bump router dependency to v0.8.0
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

errors: add WithStatus helper to wrap errors with status
  errors/formatter.go
Due: Errors

app: rename Error to Fail and improve error response API
  app/bind.go
  app/context.go
  app/context_test.go
  app/doc.go
  app/examples/02-blog/go.mod
  app/examples/02-blog/handlers/errors.go
  app/go.mod
Due: App

metrics: fix service name and version in metrics output
  metrics/go.mod
  metrics/metrics.go
  metrics/metrics_integration_test.go
  metrics/metrics_test.go
  metrics/providers.go
Due: Metrics

app: bump metrics dependency to v0.5.1
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

flake.lock: Update
  flake.lock
Due: none

metrics: remove router dependency from metrics module
  metrics/go.mod
  metrics/go.sum
  metrics/middleware.go
  metrics/middleware_test.go
Due: Metrics

router: remove exported ObservabilityWrappedWriter, use local interface
  router/observability.go
  router/observability_wrapping_test.go
Due: Router

tracing: remove router dependency and inline marker interface
  tracing/go.mod
  tracing/go.sum
  tracing/middleware.go
  tracing/middleware_test.go
Due: Tracing

app: update deps and bump otel to v1.40.0
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
  app/observability.go
  app/observability_test.go
Due: App

update go.work.sum and increase AI timeout
  go.work.sum
  nix/apps/commit.nix
Due: none

metrics: fix metric attributes and add scope/target options
  metrics/bench_test.go
  metrics/example_test.go
  metrics/metrics.go
  metrics/metrics_integration_test.go
  metrics/metrics_test.go
  metrics/options.go
  metrics/providers.go
  metrics/recording.go
  metrics/recording_test.go
Due: Metrics

update go.work.sum with new module versions
  go.work.sum
Due: none

app: bump metrics dependency to v0.6.0
  app/examples/02-blog/go.mod
  app/go.mod
Due: App

app: refactor banner rendering into bannerWriter helper
  app/banner.go
Due: App

router: update benchmark dependency versions
  router/benchmarks/go.mod
  router/benchmarks/go.sum
Due: none

update go.work.sum with new module versions for golang.org/x/term and golang.org/x/time
  go.work.sum
Due: none

app: update go dependencies across modules
  app/examples/02-blog/go.mod
  app/examples/02-blog/go.sum
  app/go.mod
  app/go.sum
Due: App

config: bump dependency versions in go.mod and go.sum
  config/go.mod
  config/go.sum
Due: Config

logging: bump opentelemetry dependencies to v1.40.0
  logging/go.mod
  logging/go.sum
Due: Logging

metrics: update otel and related dependency versions
  metrics/go.mod
  metrics/go.sum
Due: Metrics

openapi: bump golang.org/x dependencies
  openapi/go.mod
  openapi/go.sum
Due: OpenAPI

router: update go module dependencies across examples
  router/examples/01-hello-world/go.mod
  router/examples/01-hello-world/go.sum
  router/examples/02-routing/go.mod
  router/examples/02-routing/go.sum
  router/examples/03-complete-rest-api/go.mod
  router/examples/03-complete-rest-api/go.sum
  router/examples/04-middleware-stack/go.mod
  router/examples/04-middleware-stack/go.sum
  router/examples/05-advanced-routing/go.mod
  router/examples/05-advanced-routing/go.sum
  router/examples/06-content-and-rendering/go.mod
  router/examples/06-content-and-rendering/go.sum
  router/examples/07-versioning/go.mod
  router/examples/07-versioning/go.sum
  router/go.mod
  router/go.sum
  router/middleware/examples/basic_auth/go.mod
  router/middleware/examples/basic_auth/go.sum
  router/middleware/examples/body_limit/go.mod
  router/middleware/examples/body_limit/go.sum
  router/middleware/examples/compression/go.mod
  router/middleware/examples/compression/go.sum
  router/middleware/examples/cors/go.mod
  router/middleware/examples/cors/go.sum
  router/middleware/examples/logger/go.mod
  router/middleware/examples/logger/go.sum
  router/middleware/examples/ratelimit/go.mod
  router/middleware/examples/ratelimit/go.sum
  router/middleware/examples/recovery/go.mod
  router/middleware/examples/recovery/go.sum
  router/middleware/examples/request_id/go.mod
  router/middleware/examples/request_id/go.sum
  router/middleware/examples/security/go.mod
  router/middleware/examples/security/go.sum
  router/middleware/examples/timeout/go.mod
  router/middleware/examples/timeout/go.sum
Due: Router

tracing: update opentelemetry and grpc dependencies
  tracing/go.mod
  tracing/go.sum
Due: Tracing

validation: update validation module dependencies
  validation/go.mod
  validation/go.sum
Due: Validation

update go.work.sum with new module versions for golang.org/x/telemetry and golang.org/x/text
  go.work.sum
Due: none

add update-all command to quality.nix for updating Go module dependencies
  nix/apps/quality.nix
  nix/lib/apps-meta.nix
Due: none

app: fix race conditions in reload integration tests
  app/reload_integration_test.go
Due: App

update go.work.sum to include new module version for clipperhouse/stringish
  go.work.sum
Due: none

app: add tests for group routes, debug, health, and server
  app/app_test.go
  app/debug_options_test.go
  app/health_readiness_test.go
  app/server_integration_test.go
Due: App

app: add tests for mTLS, versioning, and config
  app/app_test.go
  app/mtls_test.go
  app/observability_config_test.go
  app/openapi_state_test.go
  app/route_option_test.go
Due: App

app: add unit and integration tests for health, debug, and lifecycle
  app/debug_endpoints_test.go
  app/health_options_test.go
  app/health_standard_test.go
  app/lifecycle_test.go
  app/server_integration_test.go
Due: App

openapi: add unit tests for openapi package
  openapi/compose_test.go
  openapi/generate_test.go
  openapi/internal/export/spec_test.go
  openapi/ui_test.go
  openapi/validate/validate_test.go
  openapi/version_test.go
Due: OpenAPI

binding: add tests for binder, cache, errors, and options
  binding/bind_test.go
  binding/binder_test.go
  binding/cache_test.go
  binding/errors_test.go
  binding/json_test.go
  binding/options_test.go
  binding/testing_test.go
  binding/toml/toml_test.go
Due: Binding
